{% extends "layouts/base.html" %} {% block content %}

<div id="container" style="width: 50%;">
  <canvas id="temperature-chart" data-url="{% url 'temp-json' %}"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  $(function () {
    var $temperatureChart = $("#temperature-chart");
    $.ajax({
      url: $temperatureChart.data("url"),
      success: function (data) {
        var ctx = $temperatureChart[0].getContext("2d");

        new Chart(ctx, {
          type: "line",
          data: {
            labels: data.labels,
            datasets: [
              {
                label: "temperature",
                backgroundColor: "transparent",
                borderColor: "#26d1bc",
                data: data.data,
                pointBorderColor: "grey",
                pointBorderWidth: 1,
                pointHitRadius: 1,
              },
            ],
          },
          options: {
            responsive: true,
            legend: {
              position: "top",
            },
            title: {
              display: true,
              text: "Temperature Bar Chart",
            },
            scales: {
              yAxes: [{
                display: true,
                ticks: {
                  suggestedMin: 25,    // minimum will be 0, unless there is a lower value.
                  stepSize: 1,
                  // OR //
                  // beginAtZero: true   // minimum value will be 0.
                }
              }]
            }
          },
        });
      },
    });
  });
</script>

{% endblock %}